<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZOFblhzok0bun6OgJ2uZ4SDq5PSCPDgE</string>
	<key>GCM_SENDER_ID</key>
	<string>444072391759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>malicelebi.Twitter-Clone</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-aac5f</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-aac5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444072391759:ios:62b9b776d41943a5e2a63a</string>
</dict>
</plist>